<section class="container">
  <form [formGroup]="formGroup" class="form">
    <app-input
      [formControlName]="'password'"
      (getStatus)="onInputChange($event)"
    ></app-input>
  </form>

  <h1 class="validation_message" [ngStyle]="{ color: mediumStyle }">
    {{ validationMessage }}
  </h1>

  <div class="validation">
    <app-validation-label [color]="easyStyle"></app-validation-label>
    <app-validation-label [color]="mediumStyle"></app-validation-label>
    <app-validation-label [color]="strongStyle"></app-validation-label>
  </div>
</section>
